*{
	border:1px dashed black;
}

body {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #D8D8D8;
	font-family:Arial;
}

.wrapper {
	margin-top: 182px;
}

.mainHeader {
	height: 180px;
	position: fixed;
	top: 0px;
	width: 80%;
}

.bannerimg {
	height: 177px;
	width: 100%;
	position: absolute;
}

.logo {
	position: absolute;
	height: auto;
	margin-left: 3%;
	width: 40%;
	margin-top: 35px;
}

#mainContent {
	//height: 800px;
	margin-left: 0;
	margin-top: 0;
	margin-right: 25%;
	//float: left;
	width: 77%;
	//background-color: blue;
}

/*.asides{
	background-color:gray;
}*/

/* splited content in div content*/
.articleContentSp{
	background-color:white;
	float:left;
	width:47%;
	padding-left:1%;
	padding-right:1%;
	overflow:hidden;
}

.articleComplete{
	background-color:white;
        float:left;
        width:97%;
        padding-left:1%;
        padding-right:1%;
        overflow:hidden;
}

#articleContentLeft{
	margin-right:1%;
}

#articleContentRight{
	//margin-right:0px;
}

nav{
	height: 47px;
	margin-top: 132;
	background: black;
	position: absolute;
	width: 100%;
}

.menu {
	list-style: none;
	margin-top: 1px;
	padding:0px;
}

.menu li{
	float: left;
	padding:13px 2%;	
}

/*.articleContentSp{
	background-color:green;
}*/

nav li:hover{
	background-color:white;
}

nav ul a li{
	text-decoration: none;
	font-weight: bold;
	color: white;
	background-color:black;
}

nav a:hover li{
	color:black;
}

/*.submenu {
	list-style: none;
	display:none;
	position: absolute;
	padding: 0;
	margin-top: 29px;
}*/

.submenu a li {
	padding:13px 15%;
}

.mainAside{
	width: 23%;
	//height: 800px;
	margin-right: 0;
	margin-left: auto;
	margin-top: 8px;
	//background-color: white;
}

.asides{
	background-color:white;
	padding:2px 2%;
	margin-bottom:6px;
}

.mainFooter{
	height: 115px;
	margin-top: 4px;
	background-color:white;
	width:100%;
	float:left;
}
